<app-menubar></app-menubar>
<!--Comprueba que se ha iniciado sesión-->
<div *ngIf="isLogged()">
    <br>
    <div class="grid justify-content-center">
        <div class="col-5">
            <p-card>
                <ng-template pTemplate="title">
                    <div class="flex justify-content-center">
                        LUNES
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <div class="flex justify-content-center">
                        <p-menu [model]="items1"></p-menu>
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div>
            <p-divider layout="vertical" type="dotted"></p-divider>
        </div>
        <div class="col-5">
            <p-card>
                <ng-template pTemplate="title">
                    <div class="flex justify-content-center">
                        MARTES
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <div class="flex justify-content-center">
                        <p-menu [model]="items2"></p-menu>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
    <br>
    <div class="grid justify-content-center">
        <div class="col-5">
            <p-card>
                <ng-template pTemplate="title">
                    <div class="flex justify-content-center">
                        MIÉRCOLES
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <div class="flex justify-content-center">
                        <p-menu [model]="items3"></p-menu>
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div>
            <p-divider layout="vertical" type="dotted"></p-divider>
        </div>
        <div class="col-5">
            <p-card>
                <ng-template pTemplate="title">
                    <div class="flex justify-content-center">
                        JUEVES
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <div class="flex justify-content-center">
                        <p-menu [model]="items4"></p-menu>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
    <br>
    <div class="grid justify-content-center">
        <div class="col-5">
            <p-card>
                <ng-template pTemplate="title">
                    <div class="flex justify-content-center">
                        VIERNES
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <div class="flex justify-content-center">
                        <p-menu [model]="items5"></p-menu>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>

<p-dialog header="Información sobre los descansos" [(visible)]="visible" [style]="{width: '50vw'}">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</p-dialog>