<!--Comprueba que se ha iniciado sesión-->
<div class="flex align-items-center justify-content-center">
    <p-card>
        <ng-template pTemplate="title">
            <h1 class="flex h1">Información sobre los entrenamientos</h1>
        </ng-template>
        <ng-template pTemplate="content">
            <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam
                perferendis esse, cupiditate neque
                quas!
            </p>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="flex justify-content-left">
                <p-button label="Close" (onClick)="close()" icon="pi pi-times-circle mr-2"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>