.h1 {
    font-size: 3rem;
    padding-top: 2rem;
    justify-content: center;
}

.steps {
    padding: 1rem;
}

p{
    max-width: 90rem;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

button{
    border: none;
    background-color: inherit;
    color: white;
}