<p-card>
    <div class="flex align-items-center justify-content-center">
        <h1 class="h1"><b>404</b></h1>
    </div>
    <div class="flex align-items-center justify-content-center">
        <h2 class="h2">OOPS! PAGE NOT FOUND</h2>
    </div>
    <div class="flex align-items-center justify-content-center">
        <a routerLink="" class="h4">Go Home</a>
    </div>
    <div class="flex align-items-center justify-content-center">
        <p-image src="../../assets/error404.jpg" alt="Image" width="700"></p-image>
    </div>
</p-card>