<p-menubar>
    <ng-template pTemplate="start">
        <div class="grid">
            <div>
                <p-divider layout="vertical" type="soled"></p-divider>
            </div>
            <a title="Fit App" href="/portal">
                <p-image src="../../assets/logo-GYM-TFG.png" alt="Image" width="60"></p-image>
            </a>
            <div>
                <p-divider layout="vertical" type="soled"></p-divider>
            </div>
            <div class="card flex justify-content-center" *ngIf="numPage == 0">
                <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
            </div>
            <div class="card flex justify-content-center" *ngIf="numPage == 1">
                <p-breadcrumb class="max-w-full" [model]="items1" [home]="home"></p-breadcrumb>
            </div>
            <div class="card flex justify-content-center" *ngIf="numPage == 2">
                <p-breadcrumb class="max-w-full" [model]="items2" [home]="home"></p-breadcrumb>
            </div>
            <div class="card flex justify-content-center" *ngIf="numPage == 3">
                <p-breadcrumb class="max-w-full" [model]="items3" [home]="home"></p-breadcrumb>
            </div>
            <div class="card flex justify-content-center" *ngIf="numPage == 4">
                <p-breadcrumb class="max-w-full" [model]="items4" [home]="home"></p-breadcrumb>
            </div>
        </div>

    </ng-template>
    <ng-template pTemplate="end">
        <!--Comprueba que se ha iniciado sesión-->
        <div *ngIf="isLogged()" class="grid">
            <div *ngIf="user.genre == 'Hombre'">
                <p-menubar [model]="infoUserMan">
                    <p-button title="Cerrar Sesión" label="Cerar sesión" (onClick)="logout()" icon="pi pi-power-off"></p-button>
                </p-menubar>
            </div>
            <div *ngIf="user.genre == 'Mujer'">
                <p-menubar [model]="infoUserWoman">
                    <p-button title="Cerrar Sesión" label="Cerar Sesión" (onClick)="logout()"
                        icon="pi pi-power-off"></p-button>
                </p-menubar>
            </div>
        </div>
    </ng-template>
</p-menubar>