<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <a title="Fit App" href="/portal">
            <p-image src="../../assets/logo-GYM-TFG.png" alt="Image" width="60"></p-image>
        </a>
    </ng-template>
    <ng-template pTemplate="end">
        <!--Comprueba que se ha iniciado sesión-->
        <div *ngIf="isLogged()">
            <div *ngIf="user.genre == 'Hombre'">
                <p-menubar [model]="infoUserMan">
                    <p-button label="Cerar sesión" (onClick)="logout()" icon="pi pi-power-off"></p-button>
                </p-menubar>
            </div>
            <div *ngIf="user.genre == 'Mujer'">
                <p-menubar [model]="infoUserWoman">
                    <p-button title="Cerrar Sesión" label="Cerar Sesión" (onClick)="logout()" icon="pi pi-power-off"></p-button>
                </p-menubar>
            </div>
        </div>

    </ng-template>
</p-menubar>